.dark-mode {
  background-color: transparent;
}

.dark-mode #payment-status-container.is-success:after {
  color: #ffffff;
}

.dark-mode #payment-status-container.is-failure:after {
  color: #ffffff;
}

.dark-mode #payment-status-container.missing-credentials:after {
  color: #ffffff;
}

.dark-mode #payment-status-container {
  background-color: transparent;
  border-color: #999999;
}
